<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear Customer</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Name:" for="name" />
                    <h:inputText id="name" value="#{guardarBean.nuevo.name}" title="Name" >
                    </h:inputText>
                    <h:outputLabel value="Addressline1:" for="addressline1" />
                    <h:inputText id="addressline1" value="#{guardarBean.nuevo.addressline1}" title="Addressline1" />
                    <h:outputLabel value="Addressline2:" for="addressline2" />
                    <h:inputText id="addressline2" value="#{guardarBean.nuevo.addressline2}" title="Addressline2" />
                    <h:outputLabel value="City:" for="city" />
                    <h:inputText id="city" value="#{guardarBean.nuevo.city}" title="City" />
                    <h:outputLabel value="State:" for="state" />
                    <h:inputText id="state" value="#{guardarBean.nuevo.state}" title="State" />
                    <h:outputLabel value="Phone:" for="phone" />
                    <h:inputText id="phone" value="#{guardarBean.nuevo.phone}" title="Phone" />
                    <h:outputLabel value="Fax:" for="fax" />
                    <h:inputText id="fax" value="#{guardarBean.nuevo.fax}" title="Fax" />
                    <h:outputLabel value="Email:" for="email" />
                    <h:inputText id="email" value="#{guardarBean.nuevo.email}" title="Email" />
                    <h:outputLabel value="CreditLimit:" for="creditLimit" />
                    <h:inputText id="creditLimit" value="#{guardarBean.nuevo.creditLimit}" title="CreditLimit" />
                    <h:outputLabel value="DiscountCode:" for="discountCode" />
                    <h:selectOneMenu id="discountCode" value="#{guardarBean.idDescuento}" onchange="submit()" title="DiscountCode" required="true" requiredMessage="The DiscountCode field is required.">
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItems value="#{guardarBean.listaDescuentos}" var = "d" itemLabel="#{d.rate}" itemValue="#{d.discountCode}"/>
                    </h:selectOneMenu>
                    
                    <h:outputLabel value="Zip:" for="zip" />
                    <h:inputText id="zip" value="#{guardarBean.idZip}" title="Zip" required="true" requiredMessage="The Zip field is required.">  
                        <f:validateLength minimum ="5"></f:validateLength>
                    </h:inputText>
                    <h:commandButton value="Crear" action="#{guardarBean.doGuardar()}"/>
                </h:panelGrid>
            </h:form>
        </f:view>

    </h:body>
</html>

